header {
  text-align:center;
  height: 100px;
  background-color:#c83349;
  font-size: 25px;
  padding: 10px; 
  border-radius: 10px 10px 10px 10px;
  color:black;
  position:relative;
}

footer {
  text-align:center;
  font-size: 25px;
  height: 50px;
  line-height: 50px;
  background-color: #c83349;
  padding: 10px; 
  border-radius: 10px;		
}
img{
  width: 150px;
  height: 150px;
}
article{
  width: auto; 
  border: 2px solid gray;
  padding: 10px; 
  font-size: 25px;
  border-radius: 10px;
  background-color:#e06377;
  margin:5px;
  overflow-x:auto;
}
.pract{
		border: double black;
		text-align: center;
		transition: background-color 2s;
	  }
	  .pract:hover{
	    background-color: lightblue;
	  }
	  .vtext{
		writing-mode: vertical-lr;
		width: 15px;
		padding: 5px;
	  }
  }

    